xml-resources/web-service-references/BankWebService/wsdl/localhost_8080/BankWebService/BankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getIntrestRate" type="tns:getIntrestRate"/>

<xs:element name="getIntrestRateResponse" type="tns:getIntrestRateResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getIntrestRate">
<xs:sequence>
<xs:element name="loanRequest" type="tns:loanRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanRequest">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIntrestRateResponse">
<xs:sequence>
<xs:element name="return" type="tns:loanResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanResponse">
<xs:sequence>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="interrestRate" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>