xml-resources/web-service-references/BankWebService/wsdl/localhost_8080/BankWebService/BankWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getIntrestRate" type="tns:getIntrestRate"/>

<xs:element name="getIntrestRateResponse" type="tns:getIntrestRateResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIntrestRate">
<xs:sequence>
<xs:element name="loanRequest" type="tns:loanRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanRequest">
<xs:sequence>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="creditScore" type="xs:int"/>
<xs:element name="loanAmount" type="xs:double"/>
<xs:element name="loanDuration" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIntrestRateResponse">
<xs:sequence>
<xs:element name="return" type="tns:loanResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanResponse">
<xs:sequence>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="ssn" type="xs:string" minOccurs="0"/>
<xs:element name="interestRate" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>